# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environments
venv/
.env
.venv
env/
ENV/

# IDEs / System
.vscode/
.idea/
.DS_Store

# Static and Media Files
# Specifically ignoring the actor and movie image folders (which reside in media/)
media/actor_image/
media/movie_image/
